.banner{
    right: -21%;
    position: absolute;
    height: 100vh;
    width: 101vw;
    z-index: 10000;
    clear: both;
    overflow:hidden;
    background-color: black;
}

.banner-img{
    width: 101vw;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.7;
}

.bgbanner{
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    text-align: center;
    font-size: 80px;
    color: white;
    /* display: table-cell; */
}

.vmiddle{
    margin-top: 30vh;
    z-index: 200000;
    position: absolute;
    width: 100%;
}

.clear{
    margin-top: 15px;
    margin-bottom: 15px;
}

#content{
    padding-top: 20px
}

#header{
    background-image: url("/static/images/dj.jpg");
}

/* #results{
    background-image: url("/static/images/rock.jpg");
} */


.mainBox{
    padding-left: 10%;
    padding-right:10%;
    width: 100vw;
}
.spy{
    position: relative;
}

#sticky-menu{
    height: 100vh;
}

.tall{
    height: 100vh
}