.active{
    background-color: #595959!important;
    border-color: #161616!important;
}

.banner{
    right: -21%;
    position: absolute;
    height: 100vh;
    width: 101vw;
    z-index: 10000;
    clear: both;
    overflow:hidden;
    background-color: black;
}

.banner-img{
    width: 101vw;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.6;
}

.bgbanner{
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    text-align: center;
    font-size: 80px;
    color: white;
    /* display: table-cell; */
}

.vmiddle{
    margin-top: 30vh;
    z-index: 200000;
    position: absolute;
    width: 100%;
    font-family: 'Oswald', sans-serif;

}

.code{
    max-height: 100vh;
    font-family: 'Inconsolata', monospace!important;
    border-radius: 3px!important;
    padding: 10px!important;
    background-color: #f4f4f4!important;
}

.clear{
    margin-top: 15px;
    margin-bottom: 15px;
}

.frame{
    width: inherit;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 5px;
}


.table-frame{
    width: inherit;
    overflow: scroll;
    border: 1px solid grey;
    border-radius: 3px;
}
.frame img{
    max-width: 100%;
    margin: auto;
    display: block;
}

#content{
    padding-top: 20px
}

#header{
    background-image: url("/static/images/dj.jpg");
}

/* #results{
    background-image: url("/static/images/rock.jpg");
} */


.mainBox{
    padding-left: 10%;
    padding-right:10%;
    width: 100vw;
}

.scroll-frame{
    height: 50vh;
    overflow: scroll;
}
.spy{
    position: relative;
}

#sticky-menu{
    height: 100vh;
}

.tall{
    height: 100vh
}

#top{
    right: 0px!important;
}

table{
    font-size: 1rem!important;
}