<div id="conclusion" class="tall banner bgbanner">

        <img src="/static/images/orchestra.jpg" class="banner-img">
        <div class="vmiddle">Conclusions</div>
    
    </div>
<div class="tall clear">
</div>

<div >
    <p>
        Overall, we weren't able to find a model with an accuracy we found to be satisfying. If we had more time,
        we'd continue refining our
    </p>
    <p>Something Here About Tastes Changing</p>

    <table class="table">
        <tr>
            <th>Original Playlist</th>
            <th>Linear Regression on Random Data</th>
        </tr>
        <tr>
        <td>
                <ul>
                    <li>Play It Again</li>
                    <li>Cop Car</li>
                    <li>Chillin' It</li>
                    <li>Highway Don't Care</li>
                    <li>Talledega</li>
                    <li>Take Your Time</li>
                    <li>Bottom's Up</li>
                    <li>Ain't Worth the Whiskey</li>
                    <li>Drunk on A Plane</li>
                    <li>Cruise-Remix</li>
                    <li>Sunshine & Whiskey</li>
                    <li>Drink to That All Night</li>
                    <li>Day Drinking</li>
                    <li>Girl In A Country Song</li>
                    <li>Carolina</li>
                    <li>Leave the Night On</li>
                    <li>House Party</li>
                    <li>Drunk Americans</li>
                    <li>A Guy Walks Into A Bar</li>
                    <li>Speakers</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Games People Play</li>
                    <li>Permanent Lover - 1990 Digital Remaster</li>
                    <li>In My Veins</li>
                    <li>Lullabies</li>
                    <li>This Is How We Do It</li>
                    <li>Sweet Nothing - Diplo + Grandtheft Remix</li>
                    <li>Mirror Maru</li>
                    <li>Smoke</li>
                    <li>Let Her Go - Live At Spotify Amsterdam</li>
                    <li>Peace Be Still</li>
                    <li>Sugar</li>
                    <li>Man With The Bag</li>
                    <li>Good Friend of Mine</li>
                    <li>Homegrown</li>
                    <li>My Dear</li>
                    <li>Please Come Home For Christmas</li>
                    <li>Sad Song (feat. Elena Coats)</li>
                    <li>Talking Dreams</li>
                    <li>Outsider</li>
                </ul>
            </td>
        </tr>
    </table>

</div>
            

