<div id="future">
    <h1>Future Work</h1>
    <p>
        For this project we focused on Content Based Filtering mechanisms to create playlists, and in the future, Collaborative Filtering (CF) mechanisms can be added for a more holistic understanding of the user. CF uses the user's preferences and ratings and similarities between users' tastes, ultimately sometimes leading to unexpected songs being added to playlists.
    </p>
    <p>
        Also, we want to be able to build a model that can classify songs and assign them to playlists purely based on audio features. Indeed, playlist generation has a lot of uncontrollable factors outside of our control (i.e. user's mood, taste, etc), but to provide a generic solution to playlist generation purely via song characteristics will be the next step. 
    </p>
    <p>
        Lastly, another interesting step might be generating "Top 50" playlists for a country, purely from scratch. By finding songs most frequently appearing in playlists and widely-listened to, coupled with using the song features, it would be an interesting extension to explore to recreate "Top 50" playlists for different countries based on each countries popularity.
    </p>
</div>