<div id="intro">
    <h1>Introduction</h1>
    <h3>Overview</h3>
    <p>
        The recent boom of music streaming services like Spotify, Youtube Music, Amazon Music, Pandora, and Apple Music has led to an indispensable component of these platforms: music recommender system. Every platform approaches its recommender system differently using the vast amount of data available regarding each song, which leads us to our problem of playlist generation. At its core, the playlist generation feature seeks to recommend similar songs to be added to an existing playlist. By finding and recommending songs based on the results of a complex algorithm that analyzes hundreds of data points available within an existing playlist, this feature successfully improves user participation and experience by simplifying the playlist experience and keeping the listeners engaged beyond the last song of the playlist. 
    </p>
    <p>
        Studies have shown that almost half of current music consumption is impacted by this service, thanks to the popularity of streaming services and the improved listening experience. Look more closely into Spotify, which has over 40 millions songs available and nearly 100 million active monthly listeners world-wide. Beyond its design and idea, Spotify’s popularity largely stems from its Playlists. Playlists can be built by each user (who has no limit on the number of playlists) or by Spotify itself for every occasion or mood. By directing traffic to the most relevant songs for each playlist or user preferences, Spotify successfully provides the most convenient and effective experience unlike its competitors. 
    </p>

    <h3>Motivation</h3>
    <p>
        With the data available from the "Million Playlist Dataset", "Million Song Dataset", "Lyrics Wiki", and the Spotify API, this project seeks to tackle the plyalist generation problem in two different ways.
    </p>
    <p>
        First is Automatic Playlist Generation, which creates a model for song discovery and recommendation based on an existing playlist and content information. Using only a subset of the songs of a playlist, a model will be trained to classify more songs into the playlist, potentially checking the model's "correctness" by matching against the entire list of songs of a playlist.
    </p>   
    <p> 
        Second is the Cold Start Problem, which seeks to achieve the similar goal of music recommendation, this time for newer playlists with relatively few prior playlist entries.
    </p>
    <p> 
        In conclusion, the main goal of the project is to automatically generate playlists for users, focusing on audio features of songs, like tempo and key, that a human user may not actively be aware of. Using the data collected from EDA, the project will focus on building a model that incorporates an initial list of songs based on year and genre, more "obvious" predictors, and then refining the list based on the unseen song features.
    </p>

    <h3>Related Work</h3>
    <p>
        Content Based Filtering (CBF) using metadata and raw data has been explored before. A benefit to using raw data (what we have previously described as non-obvious song traits) is when metadata (song title, artist, etc.) is missing (Liu, Hsieh, & Tsai, 2010). In their study, they used an Artificial Neural Network system trained by music features of songs the user has listened and the time the user listened to the song in order to generate playlists based on the time of day and type of activity the user is doing. 
    </p>
    <p>
        Other studies have been done that have created playlists using various methods for determining how songs relate to one another and for inferring what motivates users to select certain songs. Focusing on lyrics and user annotations, similarities between songs can be furthered and songs can then be grouped in playlists (Kaji et al., 2005). The frequency of songs played together could also determine how songs relate to one another without using metadata (Andric and Haus, 2006). The quality of a song transition can also be studied and has been modeled using a Recurrent Neural Network and focusing on song genre as a key feature (Choi, Fazekas, & Sandler, 2016).
    </p>
    <p>
        Although Spotify and similar applications like Apple Music were created in recent times, automatic playlist generation has been relevant in radio for years. In order to promote car safety, researchers do not want drivers to need to select music while needing to pay attention to the road, but also pre-selecting a large playlist is time-consuming. Self-organizing maps are created to cluster songs based on ratings users give as their subjective perceivable "distance" between songs (Liu 2013). 
    </p>
</div>
