<div id="intro">
    <h1>Introduction</h1>
    <h3>Overview</h3>
    <p>
        The recent boom of music streaming services like Spotify, Youtube Music, Amazon Music, Pandora, and Apple Music has led to an indispensable component of these platforms: music recommender system. Every platform approaches its recommender system differently using the vast amount of data available regarding each song, which leads us to our problem of playlist generation. At its core, the playlist generation feature seeks to recommend similar songs to be added to an existing playlist. By finding and recommending songs based on the results of a complex algorithm that analyzes hundreds of data points available within an existing playlist, this feature successfully improves user participation and experience by simplifying the playlist experience and keeping the listeners engaged beyond the last song of the playlist. 
    </p>
    <p>
        Studies have shown that almost half of current music consumption is impacted by this service, thanks to the popularity of streaming services and the improved listening experience. Look more closely into Spotify, which has over 40 millions songs available and nearly 100 million active monthly listeners world-wide. Beyond its design and idea, Spotify’s popularity largely stems from its Playlists. Playlists can be built by each user (who has no limit on the number of playlists) or by Spotify itself for every occasion or mood. By directing traffic to the most relevant songs for each playlist or user preferences, Spotify successfully provides the most convenient and effective experience unlike its competitors. 
    </p>

    <h3>Motivation</h3>
    <p>
        With the data available from the "Million Playlist Dataset", "Million Song Dataset", "Lyrics Wiki", and the Spotify API, this project seeks to tackle the plyalist generation problem in two different ways.
    </p>
    <p>
        First is Automatic Playlist Generation, which creates a model for song discovery and recommendation based on an existing playlist and content information. Using only a subset of the songs of a playlist, a model will be trained to classify more songs into the playlist, potentially checking the model's "correctness" by matching against the entire list of songs of a playlist.
    </p>   
    <p> 
        Second is the Cold Start Problem, which seeks to achieve the similar goal of music recommendation, this time for newer playlists with relatively few prior playlist entries.
    </p>
    <p> 
        In conclusion, the main goal of the project is to automatically generate playlists for users, focusing on audio features of songs, like tempo and key, that a human user may not actively be aware of. Using the data collected from EDA, the project will focus on building a model that incorporates an initial list of songs based on year and genre, more "obvious" predictors, and then refining the list based on the unseen song features.
    </p>

    <h3>Related Work</h3>
    <p>
        Content Based Filtering (CBF) using metadata and raw data has been explored before. A benefit to using raw data (what we have previously described as non-obvious song traits) is when metadata (song title, artist, etc.) is missing (Liu, Hsieh, & Tsai, 2010).
    </p>
    <p>
        Locavore gastropub DIY letterpress live-edge, microdosing retro bespoke kinfolk wayfarers la croix. Thundercats cloud bread iceland dreamcatcher four loko master cleanse truffaut tumblr venmo direct trade single-origin coffee copper mug. Wayfarers gluten-free tofu pork belly. Squid biodiesel pop-up ugh kickstarter master cleanse distillery hoodie authentic brooklyn YOLO seitan chia air plant bitters.
    </p>
    <p>
        Leggings schlitz crucifix wayfarers, kogi you probably haven't heard of them stumptown XOXO bitters. Flannel man bun tumblr beard four loko pop-up pickled post-ironic. Subway tile disrupt church-key pug, letterpress flannel listicle four dollar toast selfies single-origin coffee copper mug marfa coloring book pabst. Kitsch brunch hammock 3 wolf moon everyday carry. Prism air plant tacos waistcoat. Locavore vice kogi four dollar toast, pork belly sriracha bicycle rights adaptogen vape 8-bit.
    </p>
</div>