<div id="process" class="tall banner bgbanner">

        <img src="/static/images/bagpipes.jpg" class="banner-img">
        <div class="vmiddle">Modeling Approaches</div>
    
    </div>
<div class="tall clear">
</div>

<div >
    <p>
        Having reduced the playlist prediction problem to a classification problem, there were a number of models we could try to use. However, although we now have a classification problem we felt a decision tree would not work well for our problem. For each playlist, our model will use the mean of the playlist's songs' predictors to classify songs as belonging in a playlist or not belonging in the playlist. However, these mean quantities vary from playlist  to playlist so a decision tree which uses set thresholds to classify inputs would not be appropriate.
    </p>
    <p>
        Instead, the two approaches we decided on were first to build a simple logistic regression model, and then to see if we could build a neural network with higher accuracy
    </p>
    <h3>Logistic Regression</h3>
    <p>
        We ran fit a logistic regression model over 250 iterations on our training data. This model was mostly a test to see if our dataset had the predictors to allow us to achieve any significant level of accuracy in classification.
    </p>
<pre class="prettyprint code">
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(C=10000, solver='newton-cg', max_iter=250)
logreg.fit(train_data_x, train_data_y)
logreg.score(test_data_x, test_data_y)</pre>
    <p>
        Initially, we fit our model on training data where 1/3 of the playlist's original songs were included with response value 1, and 30 randomly selected songs from a set of songs we had gathered were used with response value 0. This model achieved 75% test accuracy with no cross-validation.
    </p>
    <p>
        However, while we were happy with the above model, it was fundamentally flawed for prediction. The model had fairly high accuracy of detecting if a song was originally in the playlist, but this assumed that the songs we'd "want" in a playlist would be in our set of testing songs for prediction. The odds of this occuring would be very low since we were randomly selecting songs from an arbitrary set of songs. Instead, as described in 5.1, we first queried the Spotify playlist for 50 songs from the playlist's most common genre and year (+/- 1 year).
    </p>
    <p>
        This brought our test accuracy down to 47.6%. The decrease was not surprising since by querying songs from the same genre as our playlist, we'll likely see smaller variations in features between the songs originally in the playlist and new songs. However, we decided this was a trade-off we were willing to make since the overall goal of the project is playlist prediction, and so its important that the pool of songs from which we are selecting songs to add to our playlist has a high probability of having a song we want, rather than letting there be a probability no song we want is in the pool. We will discuss results more in the next section.
    </p>
</div>
