<div id="references">
    <h1>References</h1>
    <p>
        Andric, A. \& Haus, G. Multimed Tools Appl (2006) 29: 127. https://doi.org/10.1007/s11042-006-0003-9
    </p>
    <p>
        Berenzweig, Adam, Beth Logan, Daniel P.W. Ellis and Brian Whitman. A Large-Scale Evaluation of Acoustic and Subjective Music Similarity Measures. Proceedings of the ISMIR International Conference on Music Information Retrieval (Baltimore, MD), 2003, pp. 99-105.
    </p>
    <p>
        Choi, K., Fazekas, G., & Sandler, M. Towards Playlist Generation Algorithms Using RNNs Trained on Within-Track Transitions. Workshop on Surprise, Opposition, and Obstruction in Adaptive and Personalized Systems (SOAP). 7 Jun 2016. 
    </p>
    <p>
        Hirata, K., Kaji, K., & Nagao, K.. A Music Recommendation System Based on Annotations about Listeners? Preferences and Situations. Automated Production of Cross Media Content for Multi-Channel Distribution, International Conference on (AXMEDIS), Florence, Italy, 2005, pp. 231-234.
    </p>
    <p>
        Logan, B., A Content-Based Music Similarity Function, (Report CRL 2001/02) Compaq Computer Corporation Cambridge Research Laboratory, Technical Report Series (Jun. 2001).
    </p>
    <p>
        Ning-Han Liu, Shu-Ju Hsieh, Cheng-Fa Tsai, An intelligent music playlist generator based on the time parameter with artificial neural networks, Expert Systems with Applications, Volume 37, Issue 4, 2010, 2815-2825,ISSN 0957-4174, https://doi.org/10.1016/j.eswa.2009.09.009.
    </p>
    <p>
        Shedl, M. et al, Current Challenges and Visions in Music Recommender Systems Research, https://arxiv.org/pdf/1710.03208.pdf.
    </p>
    <p>
        Shedl, M., Peter Knees, and Fabien Gouyon, New Paths in Music Recommender Systems, RecSys’17 tutorial, http://www.cp.jku.at/ tutorials/mrs_recsys_2017/slides.pdf.
    </p>
</div>
